$default-font: 'Roboto', sans-serif;

.main-nav {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid black;
}

.logo {
  color: rgba(8,54,67,50%);
  font-size: 200%;
  font-family: $default-font;
}

.greetings {
  color: rgba(8,54,67,50%);
  font-size: 200%;
  font-family: $default-font;
}

// .user-greeting-left {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin-left: 20px;
// }

.user-options-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
  margin-left: auto;
  border-left: 1px solid black;
}

.user-image {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}
